@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,900;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.bodyContainer{
    position: relative;
    background-color: white;   
}

.bodyContainer video{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    mix-blend-mode: overlay;   
}

.header{
    position: relative;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
   
}

.headerLogo h1{
    color: white;
    text-shadow: 0px 0px 30px navy;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.headerLogo h1 i{
    color: black;
    text-shadow: 0px 0px 20px goldenrod;
}

.navigation li{
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 20px navy;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.main{
    position: relative;
    display: flex;
    z-index: 1;
    
}

.mainInfo{
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px navy;
}

.mainImg img{
    display: block; 
    box-shadow: 0px 0px 10px navy;
}

.mainInfo h1{
    text-align: center;  
}

.mainInfo h2{
    text-align: center;
}

.mainInfo p{  
   text-align: center;
}

.container{
    position: relative;
    height: auto;
    background-color: rgba(0, 0, 128, 0.8);
    
   
}

::-webkit-scrollbar {
    display: none;
}

#prev{
    position: absolute;
    left: 0;
    height: 100%;
    width: 5%;
    z-index: 1;
    
}

#prev i{
    color: white;
    text-align: center;
}

#next{
    position: absolute;
    right: 0;
    height: 100%;
    width: 5%; 
    z-index: 1; 
}

#next i{
    color: white;
    text-align: right;
}

.cardContainer{
    display: flex; 
    overflow-x: scroll;
    width: 100%;
    margin: 0 auto;    
}

.card{ 
    margin: 0px auto;    
}

.card img{
    height: auto;
    margin: 0px;
    padding: 5px;
}

.card h1, .card h2, .card p{
    display: none;
}


@media only screen and (max-width: 600px) {

    .bodyContainer{
        width: 100%;
        height: 100vh;
        margin: 0px auto;
    }

    .header{
        flex-direction: column;
    }

    .headerLogo{
        flex: 100%;
    }
    
    .navigation{
        flex: 100%;
        margin: 0 auto;
    }
    
    .headerLogo h1{
        font-size: 2rem;
        text-align: center;
        margin: 3px auto;
        padding: 0px;
    }
    
    .headerLogo h1 i{
        font-size: 1.5rem;
    }
    
    .navigation li{
        font-size: 1rem;
        margin: 0px 10px;
        padding: 0 auto 2px auto;
    }

    .main{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;    
    }
    
    .mainImg{
        flex: 100%;
        margin: 10px auto 0px auto;
    }
    
    .mainInfo{
        flex: 100%;
        margin: 0px;
        
    }
    
    .mainImg img{
        width: 225px;
        margin: 5px auto;
    }
    
    .mainInfo h1{
        font-size: 2rem;
        padding: 2px;
    }
    
    .mainInfo h2{
        font-size: 1rem;
        padding: 2px;
    }
    
    .mainInfo p{
        font-size: 1rem;
        padding: 2px;
    }

    .container{
        width: 100%;
        margin: 10px auto 0px auto;
    }
    
    #prev i{
        font-size: 2rem;
        margin: 75px auto;
    }
    
    #next i{
        font-size: 2rem;
        margin: 75px auto;
    }
        
    .card img{
        width: 125px;
    }

}

@media only screen and (min-width: 601px) {

    .bodyContainer{
        width: 100%;
        height: 100vh;
        margin: 0px auto;
    }

    .header{
        flex-direction: column;
    }

    .headerLogo{
        flex: 100%;
    }
    
    .navigation{
        flex: 100%;
        margin: 0 auto;
    }
    
    .headerLogo h1{
        font-size: 2.75rem;
        text-align: center;
        margin: 0px auto;
        padding: 0px;
    }
    
    .headerLogo h1 i{
        font-size: 1.75rem;
    }
    
    .navigation li{
        font-size: 1.75rem;
        margin: 0px 10px;
        padding: 0 auto 2px auto;
    }

    .main{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;    
    }
    
    .mainImg{
        flex: 100%;
        margin: 10px auto;
    }
    
    .mainInfo{
        flex: 100%;
        margin: 0px;
        
    }
    
    .mainImg img{
        width: 400px;
        margin: 5px auto;
    }
    
    .mainInfo h1{
        font-size: 2.75rem;
        padding: 3px;
    }
    
    .mainInfo h2{
        font-size: 1.75rem;
        padding: 5px;
    }
    
    .mainInfo p{
        font-size: 1.25rem;
        padding: 5px;
    }

    .container{
        width: 100%;
        margin: 10px auto 0px auto;
    }
    
    #prev i{
        font-size: 2rem;
        margin: 100px auto;
    }
    
    #next i{
        font-size: 2rem;
        margin: 100px auto;
    }
        
    .card img{
        width: 175px;
    }
}

@media only screen and (min-width: 992px) {

    .bodyContainer{
        height: 100vh;  
    }
    
    .header{
        flex-direction: row;
    }

    .headerLogo{
        flex: 60%;
    }
    
    .navigation{
        flex: 40%;
    }
    
    .headerLogo h1{
        text-align: start;
        margin: 0px 25px;
        padding: 5px;
    }
    
    .navigation li{
        margin: 20px 15px 0px 15px;
        padding: 5px auto;
    }

    .main{
        width: 70%;
        margin: 10px auto;
        flex-direction: row;    
    }
    
    .mainImg{
        flex: 55%;
        margin: 10px auto;
       
    }
    
    .mainInfo{
        flex: 45%;
        margin: 10px auto;
        
    }
    
    .mainImg img{
        width: 225px;
        margin: 5px 0px;
    }
    
    .mainInfo h1{
        margin-top: 75px;
    }

    .container{
        width: 70%;
       
    }
    
    #prev i{
        margin: 75px auto;
    }
    
    #next i{
        margin: 75px auto;
    }
        
    .card img{
        width: 125px;
    }
    
}

@media only screen and (min-width: 1200px) {

    .bodyContainer{
        height: 100vh;  
    }

    .headerLogo h1{
        font-size: 3rem;
    }
    
    .headerLogo h1 i{
        font-size: 2rem;
    }
    
    .navigation li{
        font-size: 2rem;  
    }
 
    .mainImg img{
        width: 300px;
    }
    
    .mainInfo h1{
        font-size: 3rem;
        padding: 5px;
    }

    .main h2{
        font-size: 2rem;
        padding: 5px;
    }

    .main p{
        font-size: 1.25rem;
        padding: 5px;
    }
        
    .card img{
        width: 150px;
    }
}

@media only screen and (min-width: 1600px){

    .mainImg img{
        width: 350px;
    }

    #prev i{
        margin: 100px auto;
    }
    
    #next i{
        margin: 100px auto;
    }

}

@media only screen and (min-width: 1800px){

    .bodyContainer{
        width: 1800px;
    }

    .mainImg img{
        width: 375px;
    }

    .card img{
        width: 150px;
    }
}